# ========================
# Environment
# ========================
.env
.env.*
!.env.example

# ========================
# Build
# ========================
bin/
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ========================
# Dependencies
# ========================
vendor/
